body {
    background-color: rgba(128, 197, 243, 0.69);
}

header {
    margin: auto;
    justify-content: center;
}

header :last-child {
    margin: auto;
    font-size: 45px;
    text-align: center;
}

#container {
    margin: auto;
    display: flex;
    margin-top: 5em;
    flex-direction: row;
    justify-content: center;
}

.box {
    background-color: seashell;
    flex-direction: column;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    display: flex;
    padding: 25px;
    height: 250px;
    margin: 12px;
    width: 500px;
}

#message {
    margin-bottom: 12px;
    margin-top: 12px;
    height: 100px;
    width: 450px;
}

#message-color {
    margin-bottom: 12px;
}